auth-page{
ion-content {
    --ion-background-color: linear-gradient(#f5af19, #f12711);
    
}
div {
    border: 2px solid red;
    }
    .img-cl{
    height: 300px;
    width: 300px;
    }
    #center {
    text-align: center;
    }

.container img{
    width: 120px;
    height: auto;
   
}

}